body {
    font-family: Arial;
    background: #f4f4f4;
}

nav {
    background: #333;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.btn {
    background: orange;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.food-img{
    width: 100%;
    height: 200px;        /* fixed height */
    object-fit: cover;    /* crop nicely */
    border-radius: 10px;
}

.food-card{
    border-radius: 12px;
    transition: 0.3s;
}

.food-card:hover{
    transform: scale(1.05);
}
.menu-title{
    font-weight: bold;
    font-size: 32px;
    color: #ff5722;
    text-transform: uppercase;
    letter-spacing: 2px;
}
body{
    background-color: #f8f9fa;
}

.card{
    border: none;
}

.card:hover{
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}